@model SSLBooking.Models.ViewModels.RoutesListViewModel

@{
    Layout = "_SimpleLayout";
}

<div class="flex flex-col gap-12">
    @foreach (RouteType rt in Model.RouteTypes)
    {
        <div class="flex flex-col space-y-2">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <h1 class="truncate whitespace-nowrap mt-0 ml-2 pb-2 text-left text-gray-500 text-lg font-bold uppercase dark:text-white">@rt.Name Routes</h1>
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        ID
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Route Number
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Name
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Description
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Location 1
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Location 2
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Price
                    </th>
                    <th scope="col" class="py-3 px-6 text-center">
                        Action
                    </th>
                </tr>
                </thead>
                <tbody>
                @{ var index = 0; }
                @foreach (Route r in Model.Routes)
                {
                    if (rt.RouteTypeId == r.RouteTypeId)
                    {
                        <tr class="border-b dark:border-gray-700 @(index % 2 == 0 ? "bg-white dark:bg-gray-900" : "bg-gray-50 dark:bg-gray-800")">
                            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                @r.RouteId
                            </th>
                            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                @r.RouteNumber
                            </th>
                            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                @r.Name
                            </th>
                            <td class="py-4 px-6">
                                @r.Description
                            </td>
                            <td class="py-4 px-6">
                                @r.Location1
                            </td>
                            <td class="py-4 px-6">
                                @r.Location2
                            </td>
                            <td class="py-4 px-6">
                                @r.Price
                            </td>
                            <td class="py-4 px-6 text-center">
                                <a asp-controller="Routes" asp-action="Details" asp-route-id="@r.RouteId" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">View</a>
                                <a asp-controller="Routes" asp-action="Edit" asp-route-id="@r.RouteId" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                                <a asp-controller="Routes" asp-action="Delete" asp-route-id="@r.RouteId" class="font-medium text-rose-600 dark:text-rose-500 hover:underline">Delete</a>
                            </td>
                        </tr>
                        index++;
                    }
                }
                </tbody >
            </table >
        </div>
    }
    <a asp-action="Create"
       type="button"
       class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 
                focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 
                mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none 
                dark:focus:ring-blue-800 uppercase ml-auto w-40">
        Add New Route
    </a>
</div >